.product{
  width: 30%;
  margin: 1em auto;
  border: thin black solid;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.buttons{
  display: flex;
}

button{
  border: thin black solid;
  padding: 0.5em 1em;
  margin: 1em;
  background-color: lightblue;
  font-size: 0.8em;
}